*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #F3F3F3;
    font-family: inter, sans-serif;
}

h5 {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

/* Navbar */
.navbar {
    height: 70px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0px 1px 10px #999;
}


/* Card Sectino */
.section-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.4rem;
    justify-content: center;
    margin-top: 50px;
}

.section-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /* padding: 0 10px; */
}

.section-card .card-body, .buttons {
    padding: 0 10px;
}

.buttons img {
    margin-left: 20px;
    cursor: pointer;
}

.section-card {
    max-width: 300px;
    height: 420px;
}

.section-card .card-img img {
    max-width: 300px;
    height: 200px;
    object-fit: cover;
}

.form-control {
    max-width: 140px;
    height: 33px;
    padding: 0 10px;
    border: 1px solid #000;
    outline: none;
}

.btn {
    background-color: #444CE7;
    color: white;
    padding: 9px 20px;
    border: none;
    outline-color: transparent;
    cursor: pointer;
}